/* Class added or removed from body via JavaScript */
.lights-on {
    background-color: #fdf6e3;
    color: #586e75;
}

.lights-out {
    background-color: #002b36;
    color: #839496;
}

/*
Button styling not needed for example
Taken from Skeleton CSS http://getskeleton.com/
*/
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
